[Unit]
Description=Network Manager Applet
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session.target
